* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap");

/* menu */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 50px #ccc;
}

.menuLeft {
  display: flex;
  align-items: center;
}

.menuIcon {
  width: 100px;
  height: 100px;
}

.menuRight {
  display: flex;
  justify-content: space-around;
  width: 500px;
  list-style-type: none;
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: #383738;
}

.menuItem {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  margin-right: 10px;
}

.menuItem:hover {
  border-radius: 5px;
  border: 1px solid #383738;
  transform: scale(1.1);
  transition: all 0.5s;
}

/* intro */
.sectionIntro {
  display: inline-block;
  height: 500px;
  width: 100%;
}

.sectionIntro img {
  background: no-repeat center;
  object-fit: cover;
  height: 500px;
  width: 100%;
}

/* section about */
.sectionAbout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
}

.paragraph {
  text-align: left;
  margin: 20px 0px;
}

/* section skill */
.sectionSkill {
  background-color: #ada9ad94;
  margin: 20px 0px;
  padding: 30px 0px;
}

.table {
  border-collapse: collapse;
  width: 50%;
  margin: 30px auto;
}

.titleTable {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
}

.itemSkill td {
  text-align: center;
  padding: 15px 5px;
}

.itemSkill:hover {
  border-radius: 5px;
  transform: scale(1.05);
  transition: all 0.5s;
}

.itemSkill:nth-child(even) {
  background-color: #7c7676;
}

/* section contact */

.sectionContact {
  margin: 50px;
}

.contact {
  display: flex;
  justify-content: center;
}

.iconContact {
  margin: 20px;
  width: 50px;
  transition: transform 150ms linear;
}

.iconContact:hover {
  transform: scale(1.15);
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}
